extends ./base
block title
    |Код - наше всё)!
block main
    div#app
    ul.list-of-tecnology
        li Apache 2.4
        li MySQL 5.7
        li PHP 7.x
        li Vue.JS
        li Vue-CLI
        li Pug
        li SAAS
        li JavaScript ES6
        li MVC
        li AJAX, Fetch

