<template lang="pug">
    div.case-data(v-if="thisCurrency.data && thisCurrency.data.length")
            CurrencyListItem(
                v-bind:key="index",
                @submit="runQuery",
                @setActiveOn="setActiveOn",
                @setActiveOff="setActiveOff",
                v-on:delete-row="deleteThisRow(index)"
                v-for="(currency, index) in thisCurrency.data"
                    :currency="currency"
                )
</template>

<script>

    import CurrencyListItem from './CurrencyListItem.vue'
    import * as Tools from '../js/Tools.js';

    export default {
        props: {
            thisCurrency:{},
        }, // строка запроса
        components: {
            CurrencyListItem
        },
        data () {
            return {
                err: {
                    code: 0,
                    msg: ''
                },
                nameForm: 'removeCurrency'
            }
        },
        methods: {
            setActiveOff: function (a) {
                this.$emit('setActiveOff', a)
            },
            setActiveOn: function (e) {
                this.$emit('setActiveOn', e)
            },
            deleteThisRow: function(index) {
                this.thisCurrency.data.splice(index, 1);
                Tools.setHeight('div.slice', this.thisCurrency.data.length*43+5)
            },
            runQuery($event){
//                console.log($event)
                this.$emit('submit', $event)
            }
        }
    }
</script>

<style lang="scss">
    div.slice{
        transition: height .5s, padding .5s;
        height: 0;
        overflow: hidden;
    }

</style>