<template lang="pug">
  div.forms
      form(method='post' data-then="setHeight"
      v-on:submit.prevent v-on="listeners" :name="nameForm").slice
          div
            span Последние значения на дату:
          input(
                  type='date'
                  name='date'
                  class='input date'
                  :value='value'
              )
          input(type="text" name="select" value="currency" hidden)
          input(type="text" name="mode" value="getSlice" hidden)
          button(
            type="submit"
            v-on="listeners"
          ).btn Получить
</template>

<script>

    import * as Tools from '../js/Tools.js';

    export default {
        props: {
            value: {
                type: String,
                default: '',
            },
            nameForm: {
                value: 'nameSlice'
            }
        },
        methods: {
            setHeight: function (a) {
                if (a.status === 'ok'){
                    if (a.data && a.data.length){
                        Tools.setHeight('div.slice', a.data.length*43+5)
                    } else {
                        Tools.setHeight('div.slice', 0)
                    }
                }
            }        },
        computed: {
            listeners () {
                return {
                    submit: event => {
                        this.arg = {
                            target: event.target,
                            then: this[event.target.dataset.then]
                        }
                        this.$emit('submit', this.arg)
                    }
                }
            }
        }
    }
</script>

<style lang="scss">
    form.slice{
        margin-bottom: 25px;
        button{
            flex: 0 1 160px;
            box-sizing: border-box;
            min-width: 100px;
        }
        div{
            display: flex;
            align-items: center;
        }
    }

</style>
