<template lang="pug">
    form(method='post' v-on:submit.prevent v-on="listeners" data-then="setActiveOff").save
        input(type="date" name="date" :value='value' v-on:input="setActiveOn")
        input(type="text" name="cur_name" value="" v-on:input="setActiveOn" required)
        input(type="number" name="value" value="" v-on:input="setActiveOn" required)
        input(type="text" name="select" value="currency" hidden)
        input(type="text" name="mode" value="save" hidden)
        button(type='submit').btn Сохранить
</template>

<script>

    import * as Tools from '../js/Tools.js';

    export default {
        props: {
            value: {
                type: String,
                default: '',
            },
        },
        methods:{
            setActiveOff: function (a) {
                a.setButton = this.setButton
                this.$emit('setActiveOff', a)

//                a.status === 'ok' ? this.$emit('setActiveOff', this.setButton) : ''
            },
            setActiveOn: function (e) {
                this.$emit('setActiveOn', e)
            },
        },
        computed: {
            listeners () {
                return {
                    submit: event => {
                        this.arg = {
                            target: event.target,
                            then: this[event.target.dataset.then]
                        }
                        this.setButton = event.target.closest('form').querySelector('button')
                        this.$emit('submit', this.arg)
                    }
                }
            }
        }
    }
</script>

<style lang="scss">
</style>