@charset "utf-8";
/* CSS Document */
@import '../variables.scss';

body{
  background: $vue-blue;
  min-height: 98vh;
  display: flex;
  //outline: 1px solid cornflowerblue;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div{
  box-sizing: border-box;
}

i{
  font-family: $icon-font;
  font-style: normal;
  font-size: 1.1em;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.content {
  max-width: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  line-height: 1.4;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: beige;
  //outline: 1px solid turquoise;
}

h1 {
  text-align: center;
}

a{
  color: #afafaf;
}

input {
  font-family: $prime-font;
  padding: 8px 10px;
  color: $orange;
  border: 1px solid #d3d3d3;
  outline: 0;
}

input::placeholder{
  color: #a4bbc6;
  font-weight: 100;
  font-family: 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button{
  padding: 5px 20px;
  cursor: pointer;
  min-width: 80px;
  display: inline-block;
  position: relative;
}

.btn{
  background: $bgr-button;
  border: 1px solid #d3d3d3;
  color: $orange;
  font-family: $btn-font;
  border-radius: 0;
  font-size: 1em;
  padding: 7px 30px;
  min-height: 40px;
}

button.btn.focus{
  border: 1px dashed #808080;
}

button.btn:hover {
  background: $bgr-button-hover
}

.list-of-tecnology{
  padding-right: 35px;
  line-height: 1.5em;
  font-family: $prime-font;
  color: #b4af96;
  position: absolute;
  bottom: 0;
  right: 0;
}

ul.list-of-tecnology{
  font-size: 18px;
}

.list-of-tecnology li{
  font-size: 15px;
}

