$vue-blue: #32485F;
$vue-green: rgba(16, 91, 99, 0);
$orange: #3d47a3;
$yellow: #FFD34E;
$green: #105B63;
$beige: #FFFAD5;
$darkbeige: #b4af96;
$icon-font: icomoon, FontAwesome;
$prime-font: 'Avenir', Helvetica, Arial, sans-serif;
$name-font: 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
$btn-font: Verdana,Arial,sans-serif, icomoon;
$bgr-button: url("images/button.png") repeat-x scroll 50% 50% #e6e6e6;
$bgr-button-hover: url("images/button-hover.png") repeat-x scroll 50% 50% #dadada;